@model ScrumApplication.Entity.Models.SprintViewModel

@{
    ViewBag.Title = "ProjectSprints";
}

<h2>ProjectSprints</h2>
@Html.HiddenFor(m => m.ProjectId)
<div class="row">
    <table>

        @for (int i = 1; i <= Model.SprintCount; i++)
        {
            <tr>
                <span>Go To Sprint @i</span>
            </tr>
        }
    </table>
</div>

