@using ScrumApplication.Entity.Models;
@using ScrumApplication.DAL.Repositories;
@model IEnumerable<Team>

@{
    ViewBag.Title = "Your Teams";
}

<h2>Your Teams</h2>

<p>
    <a href="@Url.Action("Create", "Team")" class="btn btn-primary">Create Team</a>
</p>

<table class="table table-hover">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.Name)
                </th>
                @if (TeamRepository.IsTeamManager(item.TeamId))
                {
                    <td><a href="@Url.Action("Edit", "Team", new { id = item.TeamId })" 
                           class="btn btn-danger">Edit</a></td>
                }
                else
                {
                    <td></td>
                }
                <td><a href="@Url.Action("Select", "Team", new { id = item.TeamId })" 
                       class="btn btn-success">Team Projects</a></td>

            </tr>
        }
    </tbody>
</table>
