@model IEnumerable<ScrumApplication.Entity.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Your Active Projects</h2>


<table class="table">
    <tr>
        <th>
            Project
        </th>
        <th>
            End Date
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(@item.Name, "GoSprint", new { id = item.ProjectId })
        </td>
        <td>
            @item.EndDate
        </td>
    </tr>
}

</table>
